/* Custom css file */

.img-12-5{
  width: 12.5rem !important;
  max-width: 12.5rem !important;
}

/* Card IMG */

.img-card-235-140{
  width: 235px !important;
  height: 140px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.img-card-235-140 > img{
  flex-shrink: 0 !important;
  min-width: 100%;
  min-height: 100%;
}
